@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Noto Sans', sans-serif;
	box-sizing:border-box;
	color:white;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.alert {
	margin-bottom: .88235rem;
	color: #f0162f;
	line-height: 1.17647rem;
	display: none;
	/* font-size: 0.60588rem; */
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.inline-block{
	display:inline-block;}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
   -webkit-box-shadow: 0 0 0 30px #15212d inset !important;
   -webkit-text-fill-color:white !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
.logo-img {
    height: 30px;
}
.header1 {
    background-color: #0b1118;
    padding: 10px 2.5%;
	padding-bottom: 5px;
	z-index: 99999;
}	
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #15212d inset !important;
    transition: background-color 5000s ease-in-out 0s;
    font-size: 18px !important;
	-webkit-text-fill-color:white !important;
}
.transparent-button{
	background-color:transparent;
	border:0;}
/*Start */
.same-padding{
	padding-left:2.5%;
	padding-right:2.5%;}
.dropdown-img {
    width: 10px;
}
.hover1b{
	display:none;}
.hover1:hover .hover1b{
	display:inline-block;
	cursor:pointer;
	transition:.15s ease-in-out;}
.hover1:hover .hover1a{
	display:none;
	cursor:pointer;
	transition:.15s ease-in-out;}
table{
	border-collapse:collapse;}

/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: #dcb562;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dl-menuwrapper{
	display:none;}
		
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: #15212d;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

/* The Close Button */
.close-css {
  color: #aaaaaa;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
.login-modal-content {
    width: 40%;
    border: 0;
    margin-top: 100px;
    padding: 50px;
}
.menu-item{
	color:white;}
.menu-item:hover{
	color:#dbb25e;
	cursor:pointer;
	transition:.15s ease-in-out;}
.black-menu-item{
	color:black;}
.black-menu-item:hover{
	color:#dbb25e;
	cursor:pointer;
	transition:.15s ease-in-out;	
}
.dropdown-img {
    margin-right: 0;
}
.menu-padding {
    margin-left: 25px;
}
.right-menu-div {
    margin-top: 5px;
}
.bg1{
	background-image:url(../img/banner.jpg);
	background-size:cover;
    padding-top: 100px;
    padding-bottom: 100px;
}
.menu-distance {
    margin-top: 50px;
}
.banner1-h1 {
    font-weight: 700;
    text-align: center;
	font-size: 42px;
	    margin-top: 0;
}
.banner1-p {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
	text-align:center;
}
.black-bg {
    background-color: #0b1118;
}
.padding-bg {
    padding-top: 50px;
    padding-bottom: 50px;
	overflow: hidden;
}
.center-50div {
    width: 50%;
    float: left;
}
.left-50div {
    padding-left: 20%;
    padding-right: 2.5%;
}
.right-50div {
    padding-right: 20%;
    padding-left: 2.5%;
}
.center-50div h3 {
    color: #ececec;
    margin-bottom: 0;
    font-size: 24px;
}
.center-50div p {
    color: #ececec;
    margin-top: 0;
}
.bg2{
	background-image:url(../img/banner2.jpg);
	background-size:cover;		
}
.white-circle {
    color: white;
    background-color: black;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
	float:left;
	margin-left: calc(50% - 260px);
}
.white-circle p {
    padding-top: 4px;
	margin:0;
	color:white;
}
.trade-p {
    color: white;
    float: left;
	margin-top: 5px;
    margin-left: 10px;

}
.footer-div{
	background-color:#0b1118;
	padding: 3px 0;	
}
.footer-p {
    text-align: center;
    margin: 0;
    font-size: 14px;
}
.de-input {
    width: 100%;
    font-size: 18px !important;
    padding: 8px;
    border: 1px solid #94c6f2;
    background-color: transparent;
    border-radius: 3px;
	color:white;
	margin-bottom: 20px;
}
.blue-button {
    background-color: #1771bf;
    border: 0;
    color: white;
    border-radius: 5px;
    font-size: 21px;
	padding: 5px;
}
.blue-button:hover{
	background-color:#0d5798;
	cursor:pointer;
	transition:.15s ease-in-out;	
}
.mid-button-width {
    width: 300px;
    margin-left: calc(50% - 150px);
    margin-right: auto;	
}
.small-distance{
	margin-top: 30px;
}
.small-distance-bottom{
	margin-bottom:30px;}
.forgot-a{
	margin-left:calc(50% - 67.5px);}
.white-a{
	color:white;}
.white-a:hover{
	cursor:pointer;
	color:#1771bf;
	transition:.15s ease-in-out;}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
.login-a {
    margin-left: calc(50% - 21px);
}
.input-top-text {
    color: white;
    margin-bottom: 5px;
    font-size: 12px;
}
.dual-input-div {
    width: 48%;
	float:left;
}
.second-dual-input {
    margin-left: 4%;
}
.p6 {
    padding-top: 8px;
    padding-bottom: 10px;
}
.signup-modal-content{
	margin-top:50px;
	margin-bottom:50px;}
.signup-a {
    margin-left: calc(50% - 25px);}
.distance-20-div{
	height:20px;
	width:100%;}
.user-four-div {
    width: 24%;
    float: left;
}
.left-four-div{
	margin-left:5%;
	margin-right:5%;}
.right-four-div{
	margin-left:5%;
}
.dark-bg{
	background-color:#0b1118;
	min-height: calc(100vh - 25px);}
.profile-pic{
	width:100%;
	border-radius:50%;}
.profile-pic-div {
    width: 12%;
}
.profile-p {
    margin-top: 0;
}
.blue-opa-bg{
	background-color:#15212d;	
}
/* Style the tab */

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  padding-bottom:13px;
  width: 100%;
  padding-top: 0;
}

/* Change background color of buttons on hover */


/* Create an active/current tablink class */


/* Style the tab content */
.tabcontent {
  display: none;
  overflow-x: auto;
}
.block{
	display:block;}
.tablinks {
    background-color: transparent;
    border: 0;
    font-size: 21px;
    padding: 10px 0;
}
.tablinks:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	color:#94c6f2;}
.tab-div {
    padding: 20px 30px;
}
.border-div {
    border-radius: 20px;
}
.tab button.activetab {
    color: #94c6f2;
	border-bottom: 3px solid #94c6f2;
	padding-bottom:10px;
}
.tab-divdiv {
    border-bottom: 1px solid #94c6f2;
}
.white-border-input {
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    font-size: 21px;
}
.search-btn {
    background-color: transparent;
    border: 0;
    text-align: right;
    float: right;
    margin-top: -35px;

}
.search-btn:hover{
	cursor:pointer;	
}
.search-img {
    width: 21px;
}
.data-table td {
    padding: 10px;
	text-align: center;
	border: 0;
}
.first-width{
	text-align:left !important;}
.data-table th {
    padding-bottom: 12px;
    padding-top: 10px;
    background-color: #2e4f71;
}
.green-text{
	color:#03ff75;}
.red-text{
	color:#ff0013;}
.buy-btn-size {
    width: 60px;
}
.no-border1 {
	border-right: 0 !important;
}
.no-border2 {
	border-left: 0 !important;
}
.up-bottom-border {
    border-top: 1px solid #94c6f2;
	border-bottom: 1px solid #94c6f2;
	padding: 10px 20px;
}
.option{
	color:black !important;}
.padding-box {
    padding: 30px;
    margin-bottom: 50px;
}
.radius-box{
	border-radius:20px;}
.smaller-box {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
/* sidebar menu css*/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-x: hidden;
  background: #0b1118;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.fixed-brand {
  width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
  padding-top: 70px;
}

.sidebar-nav li {
  text-indent: 15px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #FFF;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #94c6f2;
  background: #15212d;
  transition:.15s ease-in-out;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #FFF;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #94c6f2;
  background: none;
}

.no-margin {
  margin: 0;
}
  #wrapper {
    padding-left: 250px;
  }
  .fixed-brand {
    width: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled-2 #sidebar-wrapper {
    width: 55px;
  }
  #wrapper.toggled-2 #sidebar-wrapper:hover {
    width: 250px;
	transition:.5s ease-in-out;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    padding-left: 250px;
  }
  #wrapper.toggled-2 #page-content-wrapper {
    position: relative;
    margin-right: 0;
    margin-left: -200px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
.sidebar-icon-img{
    width: 25px;
	float:left;
	margin:15px;
	margin-right:0;}
.sidebar-span{
    float: left;
    line-height: initial;
    margin-top: 18px;
    margin-left: 0;
    text-align: left;
}
#sidebar-wrapper{	
	border-right: 1px solid #94C6F2;}
/* end of sidebar menu css*/
.sidebar-li:hover .sidebar-span{
	color:#94C6F2;
	transition:.15s ease-in-out;}
.sidebar-li{
	overflow:hidden;}
option{
	color:black !important;}
.no-input-style {
    border: 0;
    font-weight: 700;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
}
.same-padding2{
	padding-right:2.5%;
	padding-left:calc(55px + 2.5%);}
.five-div {
    float: left;
	width:18%;
}
.left-five-div{
	margin-left:2.5%;
	margin-right:2.5%;}
.right-five-div{
	margin-left:2.5%;
	margin-right:2.5%;}
.blue-border-hover {
    border: 1px solid #94c6f2;
    border-radius: 10px;
    text-align: center;
    padding: 30px 10px;
}
.blue-border-hover:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#15212d;
	border-color:#15212d;}
.blue-border-img {
    width: 55%;
}
.blue-border-p {
    font-weight: 700;
    margin-bottom: 0;
}
.table-width{
	width: calc(100% - 1px);
}
.left-button-width{
	width:300px;
	float:left;
	margin-left: calc(50% - 470px);}
.leftright-mid-button-width{
	width:300px;
	float:left;
	margin-left: 20px;
    margin-right: 20px;}	
.right-button-width{
	width:300px;
	float:left;}
.left-dual-button-width{
	width:300px;
	float:left;
	margin-right:20px;
	margin-left: calc(50% - 310px);}
.right-dual-button-width{
	width:300px;
	float:left;}
.red-dot {
    background-color: #96000a;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 5px 0;
    text-align: center;
    margin-top: -8px;
    float: right;
    margin-left: -10px;
}
.red-dot-p{
	margin:0;}
.menu-red-dot{
    background-color: #96000a;
    border-radius: 50%;
    width: 10px;
    height: 10px;
	float:right;	
	
}
.menu-a {
    display: inline-block;
}
.cs-img {
    opacity: 0.8;
    right: 20px;
    width: 50px;
    bottom: 20px;
    position: fixed;
}
.cs-img:hover {
	opacity:1;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.message-table th{
	text-align:left;
	padding: 5px;
	background-color:#2e4f71;
}
.message-table td{
	text-align:left;}	

.smaller-font{
	font-size:14px;}
.read-color{
	margin:0;
	color: #94c6f2;}
.dl-menuwrapper li a {
    display: inline-block;}
.withdraw-table{
	font-size: 18px;
}
.withdraw-table td {
    padding-right: 15px;
}
.min-width-input {
    min-width: 400px;
}
.withdraw-table td {
    padding-right: 15px;
    padding-bottom: 20px;
}
.left-btn-width1{
	width: 200px;
    margin-right: 30px;	
}
.right-btn-width1{
	width: 200px;}
.red-btn{
	background-color: #ff243d30;
	color:#e10615;	}
.red-btn:hover{
	background-color:#842929;
	transition:.15s ease-in-out;	
}
.green-btn{
	background-color:#00ff5321;	
	color:#03f154;}
.green-btn:hover{
	background-color:#007b38;
	transition:.15s ease-in-out;	
}
.table-btn-font {
    font-size: 16px;
	padding-left: 10px;
    padding-right: 10px;
}
.extra-m-btm{
	margin-bottom:30px;}
	/* TOGGLE STYLING */
.toggle {
  margin: 0 0 1.5rem;
  box-sizing: border-box;
  font-size: 0;
  margin-bottom: 10px;
/*  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
          align-items: stretch;*/
}
.toggle input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.toggle input + label {
  margin: 0;
  padding: .75rem 2rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;

  background-color: #e2c374;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  -webkit-transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
  transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
  color: black;
  cursor:pointer;
  /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
  /*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
  /* ----- */
}
.toggle input + label:first-of-type {
  border-radius: 6px 0 0 6px;
  border-right: none;
}
.toggle input + label:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: none;
}

.toggle input:checked + label {
  background-color: #8c6c1a;
  color: #FFF;
  z-index: 1;
}

.clean:focus {
    outline: none !important;
    outline-offset: 0 !important;
}
.clean:active {
    outline: none !important;
    outline-offset: 0 !important;
}
.toggle input + label {
    border: 0;
    border-radius: 10px !important;
    margin-right: 0;
    margin-bottom: 20px;
	padding: 10px 0;
}
.mid-30{
	margin-left:5% !important;
	margin-right:5% !important;}
.margin-right0{
	margin-right:0;}
.three-div-width {
    float: left;
    width: 33.33%;
    text-align: center;
	overflow-y: auto;
}
.fake-header-div {
    border:0;
    padding: 10px;
    font-weight: 700;
    font-size: 21px;
}
.trade-table th {
    border:0;
    border-top: 0;
	padding-bottom: 10px;
    padding-top: 10px;
}
.trade-div p {
    margin: 0;
}
.trade-name-p {
    font-size: 13px;
}
.trade-div {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 15px;
	padding: 5px;
}
.green-div {
    border-color: #00b351;
	background-color:#00b351;
}
.green-div p{
	color:white;
}
.red-div {
    border-color: #ca0202;
    background-color: #ca0202;
}
.red-div p{
	color:white;
}
.new-tab-rule {
    border-top: 1px solid #94c6f2;
    margin-top: 10px;
}
.white-selection-btn {
    color: black;
    border: 0;
    font-size: 1rem;
    background-color: white;
    font-weight: 700;
    width: calc(30% - 3px);
    margin-right: 0;
    margin-bottom: 20px;
    border-radius: 10px;
	padding: 10px 0;
}
.margin-right0{
	margin-right:0 !important;}
.blue-link{
	color:#94c6f2;}
.four-div1{
	float:left;
	width:22%;}
.left-four-div1{
	margin-left:4%;
	margin-right:4%;}
.right-four-div1{
	margin-left:4%;}
.display-none{
	display:none;}
.width100-ow{
	width:100% !important;}
.total-table th{
	border:0;
	padding: 10px;}
.more-mbtm {
    margin-bottom: 30px;
}
.search-font{
	min-width: 80px;}
.data-table > tbody > tr:nth-child(odd){
	background-color:#1a2938;
}
.data-table > tbody > tr:nth-child(even){
   background-color:#15212d;
}
.buy-text{
	margin:0;
	color:white;}
.red-down-btn{
	width:auto;
	background-color:#e0001b;
	padding:5px;
	width:100px;
	border-radius:3px;
	margin-left:auto;
	margin-right:auto;
	 margin-bottom: 15px;}
.red-down-btn:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#b20016;	
}
.green-down-btn{
	width:auto;
	background-color:#00b351;
	padding:5px;
	width:100px;
	border-radius:3px;
	margin-left:auto;
	margin-right:auto;}
.green-down-btn:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#007b38;	
}
.white-down-btn{
	width:auto;
	background-color:white;
	color:black !important;
	padding:5px;
	width:100px;
	border-radius:3px;
	margin-left:auto;
	margin-right:auto;
	 margin-bottom: 15px;}
.white-down-btn p{
	color:black !important;	
	}
.border-0{
	border:0;}
.transparent-button{
	background-color:transparent;}
.green-down-btn, .green-btn-width {
    margin-bottom: 15px;
}
.trade-table td{
	vertical-align:top;}
.w30{
	width:30%;}
.fix-100{
	width:100px;}
.width100-ow label{
	width:100% !important;}
.padding-li {
    padding-left: 20px;
}
.menu-distance2{
	margin-top:100px;}
.small-web-width{
	margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.left-dashboard {
    width: 50%;
    float: left;
}
.right-dashboard {
    float: left;
	text-align:right;
}
.left-dashboard .profile-p{
	margin-bottom:0;}
.right-dashboard .profile-p{
	margin-bottom:0;
	float:right;}
.right-dashboard .blue-button {
    font-size: 14px;
    float: right;
	margin-left: 15px;
    padding: 9px;
    margin-top: 2px;
    min-width: 100px;
}
.small-distance3{
	margin-top:10px;}
.dropdown-a:hover {
    color: white;}
.w50-button {
    width: 50%;
    float: left;
    text-align: center;
}
.transparent-btn{
	background:none;
	border:0;}
.toogle label:hover{
	cursor:pointer;
	transition:.15s ease-in-out;}
.toggle input.green-label:checked + label{
	background-color:#00b351;
	
}
.toggle input.red-label:checked + label{
	background-color:#a23636;}
.color-link{
	text-decoration:underline;
	color: #03f14e;}
.color-link:hover{
	color: #007525;}
.left-dashboard{
	float:left;}
.right-dashboard{
	float:right;}
.profile-logo {
    width: 50px;
}
.right-right-details {
    float: left;
}
.right-details-div2 {
    float: right;
	margin-left: 30px;
}
.user-left-div {
    float: left;
    /*border-right: 1px solid #2e4f71;*/
}
.user-right-div {
    float: right;
    width: auto;
	text-align: right;
}
.profile-div {
    width: 100px;
    float: left;
}
.profile-info-div {
    float: left;
    margin-left: 20px;
}
.logo2-img {
    height: 100px;
    padding-top: 20px;
	padding-bottom:20px;
}
.ow-ptop{
	padding-top:10px;}
.white-to-blue{
	color:white;}
.white-to-blue:hover{
	color:#94c6f2;
	transition:.15s ease-in-out;}
.line-menu:hover .white-to-blue{
	color:#94c6f2;
	transition:.15s ease-in-out;}
.left-img-icon {
    float: left;
}
.mid-profile-menu {
    float: left;
}
.right-profile-arrow {
    float: right;
}
.arrow-icon {
    height: 15px;
}
.profile-icon {
    height: 15px;
}
.line-menu {
    border-top: 1px solid white;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mid-profile-menu {
    margin-left: 30px;
}
.first-line-menu{
	margin-top:50px;
}
.last-line-menu{
	border-bottom: 1px solid white;}
.profile-pic2{
	border-radius:50%;}
.profile-info-div .profile-p{
	margin-bottom:0;}
.mobile-logo1{
	display:none;}
.ow-gold-bg {
    background-color: #9b8651 !important;
}
.ow-gold-bg:hover {
    background-color: #806a34 !important;
}
.ow-green-bg {
    background-color: #009e00 !important;
}
.ow-green-bg:hover {
    background-color: #006f00 !important;
}
.coin-div{
	float:left;
	width:50px;
	padding:5px 0;
	border-radius:5px;}
.eu-div{
	background-color:#00b894;
}
.uc-div{
	background-color:#0984e3;
}
.gj-div{
	background-color:#00cec9;
}
.au-div{
	background-color:#6c5ce7;
}
.uj-div{
	background-color:#74b9ff;
}
.gu-div{
	background-color:#a29bfe;
}
.uc-div{
	background-color:#ffeaa7;
}
.ea-div{
	background-color:#fab1a0;
}
.ej-div{
	background-color:#fd79a8;
}
.uc-div{
	background-color:#fdcb6e;
}
.uh-div{
	background-color:#e17055;
}
.eg-div{
	background-color:#e84393;
}
.uc-div{
	background-color:#574b90;
}
.aj-div{
	background-color:#f19066;
}
.nu-div{
	background-color:#c44569;
}
.buy-modal-css {
    margin-top: 10px;
    padding: 10px 20px !important;
    padding-bottom: 20px !important;
}
.buy-modal-css .h1-title{
	margin-top:0;
	font-size: 24px;}
.buy-modal-css .close-css{
	margin-top: -15px;
}
.buy-modal-css .input-title-p {
    margin-top: 0;
}
.buy-modal-css .de-input {
    margin-bottom: 0;
	border:1px solid #e2c374;
}
.buy-modal-css .blue-button{
	background-color:#e2c374;
	color:black;	
}
.buy-modal-css .blue-button:hover{
	background-color:#8c6c1a;
	color:white;		
}
.buy-modal-css .up-bottom-border {
    border-top: 1px solid #e2c374;
    border-bottom: 1px solid #e2c374;}
.signup-modal-content{
	 margin-top: 10px;
    padding: 10px 20px !important;
    padding-bottom: 20px !important;}
.signup-modal-content .close-css{
	margin-top: -15px;
}
.signup-modal-content .input-title-p {
    margin-top: 0;
}
.signup-modal-content .de-input {
    margin-bottom: 0;
}
.country-flag{
	float:left;
	margin-left:5px;}
.country-flag2{
	float:right;
	margin-right:5px;}
.ow-red-bg1{
	background-color:#bf1717 !important;}
.ow-red-bg1:hover{
	background-color:#920202 !important;
	cursor:pointer;
	transition:.15s ease-in-out;}
.width100important{
	width:100% !important;
	margin-left:0 !important;
	margin-right:0 !important;}
.mtop-40{
	margin-top:-40px;}
.user-chat-bubble{
	background: #00aabb;
	border-radius: 5px;
	text-align: right;
    padding-left: 10px;
    padding-right: 10px;
	line-height:30px;
    width: auto !important;
	display: inline-block;
	float:right;
	clear:both;
	margin-bottom: 10px;
	margin-left: 10%;
    max-width: 90%;
}

.admin-chat-bubble{
	background: #00aabb;
	border-radius: 5px;
	text-align: left;
    padding-left: 10px;
    padding-right: 10px;
	line-height:30px;
    width: auto !important;
	display: inline-block;
	float:left;
	clear:both;
	margin-bottom: 10px;
	margin-right: 10%;
    max-width: 90%;	
}
.user-chat-bubble {
    background: #1771bf;}
.chat-div-padding{
	width: 40%;
	margin-left:auto;
	margin-right:auto;
}
.left-msg {
    width: calc(100% - 65px) !important;
    float: left;
}
.right-submit {
    float: right;
    padding: 11px;
}
.fix-scroll-msg {
	max-height: calc(100vh - 340px);
	overflow-y: auto;
	margin-bottom: 15px;
}
.fix-msg-box {
    overflow: hidden;
	width: 100%;}
.hidden{
	display:none;}
.upload-file-input{
	margin-bottom:10px;}
.chat-img {
    width: 100%;
    padding-left: 30%;
}
.upload-img-form{
	width: 100%;
    text-align: center;
}

.back-btn {
    width: 25px;
    margin-right: 20px;
}
.cs-btn{
	width:auto !important;
}
.left-30-1{
	margin-right:5% !important;
	margin-left:17.5% !important;}



.file-upload-wrapper {
  position: relative;
  width: calc(100% - 75px);
  height: 60px;
  text-align: left;
  float: left;
}
.file-upload-wrapper:after {
  content: attr(data-text);
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: #1f374e;
  padding:0;
  display: block;
  width: 100%;
  pointer-events: none;
  z-index: 20;
  height: 40px;
  line-height: 40px;
  color: #999;
  border-radius: 5px 10px 10px 5px;
  font-weight: 300;
  padding-left: 10px;
}
.file-upload-wrapper:before {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 60px;
  background: #4daf7c;
  color: #fff;
  font-weight: 700;
  z-index: 25;
  font-size: 16px;
  line-height: 60px;
  padding: 0 15px;
  text-transform: uppercase;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
}

.file-upload-wrapper:hover:before {
  background: #3d8c63;
}
.file-upload-wrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}
.upload-photo {
    width: auto !important;
    padding: 10px !important;
	margin-left: 20px !important;
	float:right;
}
.blue-btn-red-dot {
    position: absolute;
    right: 11.5%;
    margin-top: -35px;
    z-index: 999999;
}
.user-details-red-dot {
    margin-top: -42px;
    margin-right: 17.2%;
}
.admin-chat-img {
    text-align: left;
    background: transparent;
}
.admin-chat-img2 {
    padding-right: 30px;
	width:100%;
}
.admin-msg-btn{
	margin-top:30px;}
.opacity-zero{
	opacity:0;
	cursor:default;}
.opacity-zero:hover{
	cursor:default;}
.mute-button {
    text-align: right;
    float: right;
}
.mute-button {
    width: 30px;
}
@media all and (max-width: 1500px){	
.chat-div-padding {
    width: 55%;}	
	
}
@media all and (max-width: 1400px){
.left-50div {
    padding-left: 15%;
    padding-right: 5%;
}
.right-50div{
    padding-right: 15%;
    padding-left: 5%;
}
}
@media all and (max-width: 1300px){
.signup-modal-content {
    width: 70%;
}
}
@media all and (max-width: 1200px){
.blue-border-p{
	min-height:44px;}
}
@media all and (max-width: 1100px){
.three-div-width {
    float: none;
    width: 100%;
    margin-bottom: 50px;
}
.trade-div{
	float: left;
    width: 50%;
}
}
@media all and (max-width: 1000px){
.left-50div, .right-50div {
    padding-left: 5%;
    padding-right: 5%;
}	
.login-modal-content {
    width: 80%;}	
.smaller-box {
    width: 85%;
}
.h1-title {
    font-size: 24px;
}
#wrapper.toggled-2 #sidebar-wrapper:hover {
    transition:none;
}
#sidebar-wrapper {
    overflow-x: auto;}
.sidebar-li {
    overflow: auto;
}
.left-button-width, .leftright-mid-button-width, .right-button-width {
    width: 500px;
    float: none;
    margin-left: calc(50% - 250px);
	margin-right:0;
	margin-top: 20px;
    font-size: 18px;
}
.logo2-img {
    padding-top: 30px;
    padding-bottom: 30px;
}
.history-title {
    font-size: 27px;
}
.chat-div-padding {
    width: 100%;
}
.back-btn {
    width: 18px;
    margin-right: 10px;
}
}
@media all and (max-width: 900px){
.profile-p {
    font-size: 13px;}
.search-input2 {
    font-size: 16px;
}
.data-table {
    font-size: 14px;
}
.buy-btn-size {
    width: 40px;
    font-size: 14px;
}
.search-btn {
    margin-top: -32px;
}
.min-width-input {
    min-width: auto;
}
.withdraw-table {
    width: 100%;
}
.left-dashboard .profile-p {
	font-size: 15px;
}
.right-dashboard .profile-p {
	font-size: 15px;
}
.table-btn-font {
    font-size: 14px;}
}
@media all and (max-width: 800px){
.same-padding {
    padding-left: 5%;
    padding-right: 5%;
}	
.center-50div h3 {
    font-size: 21px;
}
.center-50div p {
    font-size: 14px;
}
.left-four-div {
    margin-left: 3%;
    margin-right: 3%;
}
.user-four-div {
    width: 26%;}
.right-four-div {
    margin-left: 3%;
}
.profile-pic-div {
    width: 12%;
}
.tablinks{
	font-size: 15px !important;	
	margin-right: 5px;
}
.smaller-box {
    width: 100%;
}
.login-modal-content {
    padding: 35px 20px;
}
.five-div {
    width: 30%;
}
.left-five-div {
    margin-left: 5%;
    margin-right: 5%;
}
.right-five-div {
    margin-left: 0;
    margin-right: 5%;
}
.blue-border-hover{
    margin-bottom: 30px;	
}

.trade-div {
    float: none;
    width: 100%;
} 
.four-div1 {
    width: 48%;
}
.left-four-div1 {
    margin-right: 0;
}
.small-web-width {
    width: 100%;
}
.logo-img {
    height: 25px;
}
.right-menu-div {
    margin-top: 0;
}
.menu-distance {
    margin-top: 45px;
}
.right-dashboard {
    float: none;
}
.right-right-details .profile-p{
	text-align:left;
	float:left;
    font-size: 12px;
}
.right-dashboard .blue-button {
    padding: 6px;}
.profile-3-btn, .follow-p3-font {
    font-size: 14px;
}
.profile-div {
    width: 70px;}
.logo2-img {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 70px;
}
.profile-3-btn-distance {
    margin-top: 10px !important;
	margin-bottom:0 !important;
}
.profile-menu-distance {
    margin-top: 15px !important;
}
.profile-details-div {
    padding-top: 30px;
}
.buy-modal-css .h1-title {
    margin-top: 0;
    font-size: 18px;
}
.buy-modal-css .close-css {
    margin-top: -20px;
}
.buy-modal-css .input-title-p {
    margin-top: 0;
    font-size: 14px;
	margin-bottom: 5px;
}
.buy-modal-css .toggle input + label{
	margin-bottom: 10px;
	font-size: 14px;
    padding: 7px 0;
    border-radius: 5px !important;
}
.buy-modal-css .de-input{
	font-size: 14px !important;
}
.buy-modal-css .blue-button {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}


.signup-modal-content .h1-title {
    margin-top: 0;
    font-size: 18px;
}
.signup-modal-content .close-css {
    margin-top: -20px;
}
.signup-modal-content .input-title-p {
    margin-top: 0;
    font-size: 14px;
	margin-bottom: 5px;
}
.signup-modal-content .toggle input + label{
	margin-bottom: 10px;
	font-size: 14px;
    padding: 7px 0;
    border-radius: 5px !important;
}
.signup-modal-content .de-input{
	font-size: 14px !important;
}
.signup-modal-content .blue-button {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}
.left-30-1 {
    padding-bottom: 7px;
}
.blue-btn-red-dot {
    right: 4%;}
.user-details-red-dot {
    margin-top: -8px;
    margin-right: 16.2%;
}
}

@media all and (max-width: 740px){
.banner1-h1 {	
	    font-size: 32px;}
.banner1-p {
    width: 500px;
    font-size: 18px;}	
.banner1-p {
    width: 350px;
    font-size: 16px;
}
}
@media all and (max-width: 700px){
.user-four-div {
	width:45%;
	margin-left:0;
	margin-right:0;	
}
.left-four-div{
	margin-left:4%;}
.right-four-div{
	margin-left:4%;	
}
.profile-pic {
    width: 20%;}
.tempo-two-clear{
	clear: both;
}
.search-input2 {
    min-width: 180px;
}
.data-table td {
    padding: 10px 7px;}
.search-input2 {
    font-size: 14px;
}
.search-img {
    width: 18px;
}
.search-btn {
    margin-top: -28px;
}
.data-table {
    font-size: 12px;
}
.buy-btn-size {
    width: 35px;
    font-size: 12px;
}
.left-button-width, .leftright-mid-button-width, .right-button-width {
    width: 100%;
    margin-left: 0;}
.left-dual-button-width {
    width: 48%;
    float: left;
    margin-right: 4%;
    margin-left: 0;
	font-size: 18px;}
.right-dual-button-width {
    width: 100%;
    float: left;
	font-size: 18px;
}
.cover-btn-a{
	float: left;
    width: 48%;
}
.red-dot {

    margin-top: -40px;
    float: right;
    margin-left: 0;
}
.search-font{
	font-size:14px;}
.red-down-btn{
	width:70px;}
.green-down-btn, .green-btn-width{
	width:auto;}
.table-btn-font {
    font-size: 12px;}

}
@media all and (max-width: 650px){
.left-btn-width1, .right-btn-width1 {
    width: 100%;
    margin-right: 0;
	margin-bottom: 20px;
	font-size: 18px;
}	
.menu-a{
	display:none;}
.dl-menuwrapper{
	display:inline-block;}	
.right-menu-div {
    margin-top: -5px;
}
.dl-menu{
	min-height:100vh;}
.menu-distance {
    margin-top: 45px;
}
.dl-menuwrapper .dl-menu.dl-menuopen {
    margin-top: 5px;
}
.small-web-width{
	padding-left: 0;
    padding-right: 0;
	width: 110%;
    margin-left: -5%;
}	
.blue-btn-red-dot {
    right: 95px;
    margin-top: -30px;
}
}
@media all and (max-width: 600px){
	

.left-50div{
    padding-left: 5%;

}
.right-50div{
    padding-right: 5%;	
}
.white-circle{
	margin-left:0;
	}
.trade-p{
	width:calc(100% - 40px);}
.tablinks {
    font-size: 14px !important;
    margin-right: 12px;
    padding: 0 !important;
	padding-bottom:10px !important;
}
.success-icon {
    width: 120px;
}
}
@media all and (max-width: 530px){
.banner1-h1 {
    font-size: 24px;
}	
.bg1 {
	padding-top: 70px;
    padding-bottom: 70px;}	
}
@media all and (max-width: 500px){
.center-50div{
    padding: 0 10%;
    width: 100%;
    text-align: center;	
}
.mid-button-width {
    width: 100%;
    margin-left: 0;}
.dual-input-div {
    width: 100%;
    float: none;
    margin-left: 0;
}
.profile-pic {
    width: 30%;
}
.h1-title {
    font-size: 21px;
}
.blue-border-hover {
	width:48%;
}
.left-five-div, .right-five-div{
	margin-left:4%;
	margin-right:0;}
.withdraw-table {
    font-size: 14px;
}
.withdraw-table .de-input{
	font-size:14px !important;}
.withdraw-table td {
    padding-right: 5px;
    padding-bottom: 10px;
}
.fix-100{
	font-size:12px;
	width:70px;}
.profile-3-btn, .follow-p3-font {
    font-size: 12px;
}
.history-title {
    font-size: 21px;
}
.user-details-red-dot {
    margin-top: -32px;
}
}
@media all and (max-width: 450px){
.data-table {
    font-size: 11px;
}
.tab-div {
    padding-left: 0;
    padding-right: 0;
    width: 110%;
    margin-left: -5%;
    border-radius: 0;
}
.table-btn-font {
    font-size: 11px;}
.profile-3-btn{
    font-size: 11px;
    margin: 7px 0;
	width:32.3%;

}
.follow-p3-font {
	font-size: 11px;}
.profile-3-btn.mid-30{
	margin-left:1.5% !important;
	margin-right:1.5% !important;}
.logo2-img {
    padding-top: 25px;
    padding-bottom: 25px;
    height: 70px;
}
.profile-3-btn-distance {
    margin-top: 0px !important;}
.profile-menu-distance {
    margin-top: 5px !important;
}
.x-distance{
	margin-top:0;}
.user-details-red-dot {
    margin-top: -38px;
    margin-right: 11%;
}
}

@media all and (max-width: 400px){
.banner1-h1 {
    font-size: 18px;
}	
.banner1-p {
    width: 280px;
    font-size: 14px;
}	
.bg1 {
    padding-top: 40px;
    padding-bottom: 40px;
}	
.user-four-div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.profile-pic-div{
    text-align: center;
    margin-bottom: 30px;	
}
.up-bottom-border{
	padding: 10px 0;
}
.blue-border-p {
    font-size: 14px;
}
.left-dual-button-width {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-left: 0;}
.right-dual-button-width {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-left: 0;
	margin-top:20px}
.cover-btn-a {
    float: none;
    width: 100%;
}
.four-div1 {
    width: 100%;
    margin-left: 0;
}
.web-logo1 {
    display: none;
}
.mobile-logo1 {
	display: inline-block;}

.logo2-img{
	padding-top: 15px;
    padding-bottom: 15px;
}
.coin-div{
	float:left;
	width:35px;
	padding:3px 0;
	border-radius:5px;}
.country-flag{
	margin:0;
	width:12px;
	margin-top:3px;}
.data-table td {
    padding-left: 2px;
	padding-right:2px;}
}
@media all and (max-width: 370px){
.upload-photo {
    width: 100%;}
}
@media all and (max-width: 350px){
.profile-3-btn, .follow-p3-font{
	font-size:10px;}
}
@media all and (max-width: 330px){
.profile-div {
    width: 50px;
}
.logo2-img{
	height:50px;
	padding-top:8px;
	padding-bottom:8px;}
.profile-3-btn, .follow-p3-font {
    font-size: 12px;
}
.profile-3-btn {
    width: 100%;
	margin: 4px 0;}
.profile-3-btn.mid-30 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.x-distance {
    margin-top: 10px;
    margin-bottom: 20px;
}
.right-dashboard .blue-button {
    font-size: 12px;
    margin-left: 5px;}
.left-30-1 {
    margin-left: 0 !important;
}
.user-details-red-dot {
    margin-top: -35px;
    margin-right: 0;
}
}
@media all and (max-width: 325px){
.banner1-p {
    font-size: 13px;
	width: 260px;
}	
	
}
@media all and (max-width: 312px){
.country-flag{
	width:8px;
	margin-top:5px;}	
	
	
}
